Checks: '-*,misc-*,bugprone-*,clang-analyzer-*,mpi-*,performance-*,modernize-*,
cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-pointer-arithmetic,readability-*,
-readability-avoid-const-params-in-decls, portability-*, openmp-*'
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '30'